@font-face {
	font-family: 'Signika';
	src: url('$lib/assets/fonts/Signika-VariableFont_wght.woff2') format('woff2');
	font-weight: 300 700;
	font-style: normal;
	font-display: swap;
}

body {
	margin: 0;
	font-family: 'Signika', sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-size: 16px;
}

:root {
	--small-padding: 10px;
	--medium-padding: 20px;
	--page-padding: 15px;
	--bg-color-light: #c2b4b0;
	--border-radius: 10px;
	--footer-height: 100px;
	--header-height: 80px;
	--button-size: 48px;
	--max-page-width: 700px;
	--input-color-bg: #ffffff;
	--button-big-size: 68px;
}

.input-textarea {
	background: var(--input-color-bg);
	border-radius: var(--border-radius);
	height: 140px;
	padding: var(--small-padding);
}

textarea {
	width: 100%;
	height: 100%;
	resize: none;
	border: none;
	background: none;
	font-family: 'Signika', sans-serif;
	font-size: 20px;
	font-weight: 200;
}

textarea:focus {
	outline: none;
	box-shadow: none;
}

.input-text {
	background: var(--input-color-bg);
	border-radius: var(--border-radius);
	padding: var(--small-padding);
}

input[type='text'] {
	width: 100%;
	resize: none;
	border: none;
	background: none;
	font-family: 'Signika', sans-serif;
	font-size: 20px;
	font-weight: 200;
}

input[type='text']:focus {
	outline: none;
	box-shadow: none;
}

h2 {
	margin: 0;
	font-weight: 400;
	font-size: 20px;
	margin-bottom: var(--small-padding);
	text-align: center;
}

h3 {
	margin: 0;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: var(--small-padding);
}

h4 {
	margin: 0;
	font-weight: 200;
	font-size: 14px;
	margin-bottom: var(--small-padding);
}

p {
	margin: 0;
	white-space: pre-line;
}

a {
	text-decoration: none;
}

.paragraph:not(:first-of-type) {
	margin-top: 10px;
}

.content-width {
	width: 100%;
	max-width: var(--max-page-width);
	margin: 0 auto;
}

button,
.button {
	background: none;
	border: none;
	width: var(--button-size);
	height: var(--button-size);
	padding: 0;
	border-radius: var(--border-radius);
}

a.button {
	display: inline-block;
}

button:disabled {
	opacity: 0.3;
	filter: grayscale(1);
}

button.big, .button.big {
	width: var(--button-big-size);
	height: var(--button-big-size);
}

button.small, .button.small {
	width: 40px;
	height: 40px;
}

button.long, .button.long {
	width: 90px;
	height: 48px;
}

button img,
.button img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

li {
	margin: 0;
	padding: 0;
}

.shadow {
	box-shadow:
		4px 4px 0px var(--box-shadow-color),
		0px 4px 0px var(--box-shadow-color),
		4px 0px 0px var(--box-shadow-color);
}

.shadow-active {
	box-shadow:
		2px 2px 0px var(--box-shadow-color),
		0px 2px 0px var(--box-shadow-color);
}

.scroll-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;
	padding-bottom: calc(var(--footer-height));
}

.color {
	background-color: #adaadb;
	--box-shadow-color: #72708f;
}

.color.SOL {
	background-color: #efd6c3;
	--box-shadow-color: #d5ae90;
}

.color.PLANTES {
	background-color: #c2efda;
	--box-shadow-color: #9cc9b4;
}

.color.AUTRES {
	background-color: #ffe9b3;
	--box-shadow-color: #d9c38c;
}

.color.ELEVAGE {
	background-color: #f9d9b8;
	--box-shadow-color: #d9b38c;
}

dialog.overlay {
	max-height: calc(100% - calc(4 * var(--page-padding)));
	max-width: var(--max-page-width);
	padding: var(--page-padding);
	border-radius: var(--border-radius);
	border: none;
	background-color: #fcf6e9;
	--box-shadow-color: #9a711a;
	overflow: auto;
	inset: var(--page-padding);
}

dialog.overlay::backdrop {
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(3px);
}

.no-data {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: fadeIn 2s ease forwards;
	pointer-events: none;
}

.no-data > p {
	margin: var(--page-padding);
	text-align: center;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
