<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">Les catégories</h2>
      </div>
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-add-category" (click)="openAddModal()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14"/><path d="M5 12l14 0"/></svg>
            Ajouter
          </a>
        </div>
      </div>
    </div>
  </div>
    <div class="container-xl">

      <div class="page-body">
      <div class="container-xl">
      <div class="row row-deck row-cards">
      <div class="col-12">
          <div class="card">            
            <div class="table-responsive">
              <table class="table card-table table-vcenter text-nowrap datatable">
                <thead>
                  <tr>
                    <th class="w-1">No.
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm icon-thick" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 15l6 -6l6 6" /></svg>
                    </th>
                    <th>Nom</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let category of categories; let i = index">
                    <td><span class="text-secondary">{{i+1}}</span></td>
                    <td>{{category.name}}</td>
                    <td class="text-end">
                      <span class="dropdown">
                        <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-add-category" (click)="editCategory(category)">Modifier</a>
                          <a href="#" class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#modal-delete" (click)="confirmDelete(category)">Supprimer</a>
                        </div>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer d-flex align-items-center">
              <p class="m-0 text-secondary">Affichage de <span>1</span> à <span>{{categories?.length}}</span> de <span>{{categories?.length}}</span> éléments</p>
              <ul class="pagination m-0 ms-auto">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                    <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
                    Précedent
                  </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item disabled">
                  <a class="page-link" href="#">
                    Suivant <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    </div>
</div>

<!-- Modal Ajout/Édition Catégorie -->
<div class="modal modal-blur fade" id="modal-add-category" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form [formGroup]="addCategoryForm" (ngSubmit)="onSubmit()" class="card">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ getModalTitle() }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Nom</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Nom de la catégorie">
            <div *ngIf="addCategoryForm.get('name')?.invalid && isFormSubmitted" class="mt-2 text-danger">
              <p *ngIf="addCategoryForm.get('name')?.errors?.['required']">* Le nom de la catégorie est requis.</p>
            </div>
          </div>
          <div class="mb-3">
            <div class="form-label">Image</div>
            <div *ngIf="currentImageUrl" class="current-image-container">
                    <img [src]="currentImageUrl" alt="Image actuelle" class="image-preview"/>              
                     <button type="button" (click)="removeImage()" class="btn-remove-image">
                        <!-- <img src="assets/dist/icons/close.svg" alt="Supprimer" width="16" height="16"/> -->
                        <i class="ti ti-x"></i>
                    </button>
            </div>
            
            <!-- File input toujours visible -->
             <div *ngIf="!currentImageUrl">
              <input [id]="fileInputId" formControlName="image" type="file" class="form-control mb-3" accept="image/*" (change)="onFileChange($event)">
              <small class="form-text text-muted d-block mt-2">Formats acceptés: JPG, PNG</small>
              <div *ngIf="addCategoryForm.get('image')?.invalid" class="mt-10 text-danger">
                                <p *ngIf="addCategoryForm.get('image')?.errors?.['required'] && isFormSubmitted">
                                    * L'image de la catégorie est requise.
                                </p>
                                <p *ngIf="addCategoryForm.get('image')?.errors?.['invalidFileType']">
                                    * Sélectionnez un fichier image, s'il vous plaît.
                                </p>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div *ngIf="isFormSubmitted && isAdded" class="alert alert-success mb-2" role="alert">
              Nouvelle catégorie ajoutée avec succès.
            </div>
            <div *ngIf="isFormSubmitted && isUpdated" class="alert alert-success mb-2" role="alert">
              Catégorie modifiée avec succès.
            </div>
            <div *ngIf="isFormSubmitted && errorMessage" class="alert alert-danger mb-2" role="alert">
              {{ errorMessage }}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">Annuler</a>
          <button [disabled]="isSubmitting" type="submit" class="btn btn-primary">
            <div *ngIf="isSubmitting" class="spinner-border spinner-border-sm me-2" style="width: 1.3rem; height: 1.3rem;"></div>
            <span [class.opacity-7]="isSubmitting">{{ getSubmitButtonText() }}</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Modal de suppression -->
<div class="modal modal-blur fade" id="modal-delete" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-title">Cette action est irréversible</div>
        <div>La suppression entraînera la perte irréversible des informations de ce produit "{{ categoryToDelete?.name }}". Êtes-vous certain de vouloir continuer ?</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link link-secondary me-auto" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger" [disabled]="isDeleting" (click)="deleteCategory()">
          <div *ngIf="isDeleting" class="spinner-border spinner-border-sm me-2" style="width: 1rem; height: 1rem;"></div>
          <span [class.opacity-7]="isDeleting">Oui, Supprimer</span>
        </button>
      </div>
    </div>
  </div>
</div>