<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">Les tags</h2>
      </div>
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-tag" (click)="openAddModal()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
            Ajouter
          </button>
        </div>
      </div>
    </div>
  </div>

    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <!-- <h2 class="page-title">
            Les tags
          </h2> -->
          <div class="page-pretitle mt-1">

          </div>
        </div>

      </div>
      </div>
      </div>

      <div class="page-body">
      <div class="container-xl">
      <div class="row row-deck row-cards">
      <div class="col-12">
          <div class="card">            
            <div class="table-responsive">
              <table class="table card-table table-vcenter text-nowrap datatable">
                <thead>
                  <tr>
                    <th class="w-1">No.
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm icon-thick" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 15l6 -6l6 6" /></svg>
                    </th>
                    <th>Illustration</th>
                    <th>Nom</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let tag of tags; let i = index">
                    <td><span class="text-secondary">{{i+1}}</span></td>
                    <td><span class="avatar me-3" style="background-image: url({{tag.image}})"></span></td>
                    <td>{{tag.name}}</td>
                    <td class="text-end">
                      <span class="dropdown">
                        <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modal-tag" (click)="openEditModal(tag, $event)">
                            Modifier
                          </a>
                          <a class="dropdown-item text-danger" href="#" data-bs-toggle="modal" data-bs-target="#modal-delete-tag" (click)="confirmDelete(tag.id, $event)">
                            Supprimer
                          </a>
                        </div>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer d-flex align-items-center">
              <p class="m-0 text-secondary">Affichage de <span>1</span> à <span>{{tags.length}}</span> de <span>{{tags.length}}</span> éléments</p>
              <ul class="pagination m-0 ms-auto">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                    <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
                    Précedent
                  </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item disabled">
                  <a class="page-link" href="#">
                    Suivant <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    </div>
</div>


<!-- Modale formulaire (ajout/édition) -->
<div class="modal fade" id="modal-tag" tabindex="-1" aria-labelledby="modalTagLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTagLabel">{{modalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal('modal-tag')"></button>
        </div>
        <div class="modal-body">
          <!-- Messages d'erreur et succès DANS le modal -->
          <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M12 8v4" /><path d="M12 16v.01" /></svg> -->
            <div>{{errorMessage}}</div>
            <a class="btn-close" data-bs-dismiss="alert" aria-label="close" (click)="errorMessage = ''"></a>
          </div>
          <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg> -->
            <div>{{successMessage}}</div>
            <a class="btn-close" data-bs-dismiss="alert" aria-label="close" (click)="successMessage = ''"></a>
          </div>
          <div class="mb-3">
            <label for="tagName" class="form-label">Nom du tag</label>
            <input id="tagName" type="text" class="form-control" formControlName="name" [class.is-invalid]="form.get('name')?.invalid && form.get('name')?.touched">
            <div class="invalid-feedback" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">Le nom est requis.</div>
          </div>

          <div class="mb-3">
              <div class="form-label">Image</div>
              <div *ngIf="currentImageUrl" class="current-image-container">
                      <img [src]="currentImageUrl" alt="Image actuelle" class="image-preview"/>              
                      <button type="button" (click)="removeImage()" class="btn-remove-image">
                          <i class="ti ti-x"></i>
                        <!-- <img src="assets/dist/icons/close.svg" alt="Supprimer" width="16" height="16"/> -->
                      </button>
              </div>
              
              <!-- File input toujours visible -->
              <div *ngIf="!currentImageUrl">
                <input [id]="fileInputId" formControlName="image" type="file" class="form-control mb-3" accept=".png,.jpg,.jpeg" (change)="onFileChange($event)">
                <small class="form-text text-muted d-block mt-2">Formats acceptés: PNG, JPG/JPEG</small>
                <div *ngIf="form.get('image')?.invalid" class="mt-10 text-danger">
                                  <p *ngIf="form.get('image')?.errors?.['required'] && isSubmitting">
                                      * L'image du produit est requise.
                                  </p>
                                  <p *ngIf="form.get('image')?.errors?.['invalidFileType']">
                                      * Sélectionnez un fichier image, s'il vous plaît.
                                  </p>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal('modal-tag')">Annuler</button>
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid || isSubmitting">
            <span *ngIf="isSubmitting" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
            {{selectedTag ? 'Modifier' : 'Ajouter'}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modale de suppression -->
<div class="modal fade" id="modal-delete-tag" tabindex="-1" aria-labelledby="modalDeleteTagLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDeleteTagLabel">Confirmer la suppression</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal('delete')"></button>
      </div>
      <div class="modal-body">
        Voulez-vous vraiment supprimer ce tag ? Cette action est irréversible.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal('delete')">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="deleteTag()" [disabled]="isDeleting">Supprimer</button>
      </div>
    </div>
  </div>
</div>